{% extends 'base.html' %}
{% block content %}

<div class="row">
{% for product in products %}
    <div class="col-md-3">
        <div class="card shadow mb-3">
            <img src="{{ url_for('static', filename='images/' + product['image']) }}" class="card-img-top" height="150">
            <div class="card-body text-center">
                <h5>{{ product['name'] }}</h5>
                <p>₹{{ product['price'] }}</p>
                <a href="/add_to_cart/{{ product['id'] }}" class="btn btn-primary btn-sm">Add to Cart</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}